//Import per component scss files.

//CSS Variables
@import "_variables.scss";


//Font import
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');


//General body styles, global to all pages.
body {
    font-family: "Inter", "Open Sans", sans-serif;
    backface-visibility: hidden; 

    margin: 0px;
    padding: 0px;
    color: $text-color;
    display: flex;
    font-size: 14px;
    flex-direction: column;
    vertical-align: middle;
    background-color: "#F7FAFC";
}


//Styling for auto suggesting inputs.
.react-autosuggest__container {
    position: relative;
}

.react-autosuggest__input {
    width: auto;
    height: 30px;
    padding: 10px 10px;
    font-family: "Inter", "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 4px;

    &:focus, &:hover {
        cursor: pointer;
        border: 1px solid $primary-color;
    }
    &::placeholder {
        font-weight: 400;
        font-size: 16px;
    }
}


.react-autosuggest__input--focused {
    outline: none;
}

.react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
    display: none;
}

.react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 38px;
    width: 280px;
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: "Inter", "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
    @include shadow(0.1);
    height: 240px;
    overflow: auto;
}

.react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 10px;
}

.react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
}



//Corner ribbons for trade risk.
.risk-ribbon {
    transform: rotate(45deg);
    top: -10px;
    left: -4px;
}


//Spinner styles
.spinner {
    position: relative;
    color: #3A456E !important;
    pointer-events: none;
  }
  
  .spinner::after {
    content: '';
    position: absolute !important;
    top: calc(50% - (2em / 2));
    left: calc(50% - (2em / 2));
    display: block;
    width: 2em;
    height: 2em;
    border: 2px solid currentColor;
    border-radius: 9999px;
    border-right-color: transparent;
    border-top-color: transparent;
    animation: spinAround 500ms infinite linear;
  }
  
  @keyframes spinAround {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }



