//Import per component scss files.

//CSS Variables
@import "_variables.scss";


//Font import
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');


//General body styles, global to all pages.
body {
    font-family: "Inter", "Open Sans", sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    backface-visibility: hidden; 

    margin: 0px;
    padding: 0px;
    background-color: #F8F7F8;
    color: $text-color;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
}


//Mobile only designs
@media screen and (max-width: 1024px) {
    .sidebar {
        width: 100%;
        background-color: $primary-color;
    
        .nav {
            @include shadow(0.1);
            .logo {
                color: white;
                text-align: center;
                h1 { margin: 0;}
                padding-top: 12px;
            }
            .nav-items {
                ul {
                    list-style: none;
                    display: flex;
                    flex-direction: row;
                    padding-left: 0;
                    padding-bottom: 16px;
    
                    li {
                        color: white;
                        display: flex;
                        flex-direction: column;
                        flex-grow: 1;
                        align-items: center;
                    }
                }
            }
        }
    }

    .fourofour {
        text-align: center;
        width: 80%;
        margin-left: auto;
            margin-right: auto;

        .button {
            height: 38px;
            background-color: $primary-color;
            border-radius: 4px;
            color: white;
            width: 30%;
            line-height: 38px;
            font-weight: bold;
            margin-left: auto;
            margin-right: auto;
        }
    }
}


//Desktop only designs
@media screen and (min-width: 1200px) {
    .main {
        display: flex;
        width: 100%;
        min-height: 100vh;
    }
    
    .content {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding-left: 57px;
    }
    
    .page {
        margin-top: 32px;
    }
    .top-bar {
        height: 65px;
        border-bottom: 1px solid #EBEBEB;
        box-sizing: border-box;
        
        * {
            margin: 0px 0px 0px 0px;
            padding-left: 24px;
        }
    }
    
    .nav {
        width: 290px;
        min-height: 100vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        @include shadow(0.03);
    
        .logo {
            @include shadow(0.03);
            height: 65px;
            background-color: $primary-color;
            h1 {
                margin: 0;
                color: white;
                text-align: center;
                line-height: 65px;
            }
        }
    
        .nav-items {
            margin-top: 32px;
            padding: 12px;
            ul {
                list-style: none;
                padding-left: 64px;
    
                li {
                    margin-bottom: 24px;
                    padding: 8px;
                    color: $primary-dimmed;
                    font-weight: 500;
                    line-height: 28px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    svg {
                        padding-right: 8px;
                    }
                    &:active, &:hover {
                        color: $primary-color;
                        cursor: pointer;
                        svg > g > circle {
                            fill: $primary-color;
                        }
                    }
                }
                li.active {
                    color: $primary-color;
                    svg > g > circle {
                        fill: $primary-color;
                    }
                }
            }
        }
    
    }
    
    .fourofour {
        text-align: center;
        padding-top: 200px;
        font-size: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        .button {
            height: 42px;
            border-radius: 4px;
            background-color: $primary-color;
            color: white;
            width: 180px;
            font-size: 24px;
            line-height: 42px;
    
            &:hover {
                cursor: pointer;
                @include shadow(0.3);
            }
        }
    }
}





