//Import per component scss files.

//CSS Variables
@import "_variables.scss";


//Font import
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');


//General body styles, global to all pages.
body {
    font-family: "Inter", "Open Sans", sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    backface-visibility: hidden; 

    margin: 0px;
    padding: 0px;
    background-color: #F8F7F8;
    color: $text-color;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
}

.react-autosuggest__container {
    position: relative;
}

.react-autosuggest__input {
    width: auto;
    height: 30px;
    padding: 10px 10px;
    font-family: "Inter", "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 4px;

    &:focus, &:hover {
        cursor: pointer;
        border: 1px solid $primary-color;
    }
    &::placeholder {
        font-weight: 400;
        font-size: 16px;
    }
}


.react-autosuggest__input--focused {
    outline: none;
}

.react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
    display: none;
}

.react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 38px;
    width: 280px;
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: "Inter", "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
    @include shadow(0.1);
    height: 240px;
    overflow: auto;
}

.react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 10px;
}

.react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
}





