//Import per component scss files.

//CSS Variables
@import "_variables.scss";

//Font import
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

//General body styles, global to all pages.
body {
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    backface-visibility: hidden; 

    margin: 0px;
    padding: 0px;
    background-color: #F3F5F5;
    color: $text-color;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
}
